{% extends 'clinic_app/index.html' %}
{% load static %}

{% block style %}
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'clinic_app/images/favicon.ico' %}" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'clinic_app/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'clinic_app/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'clinic_app/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'clinic_app/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'clinic_app/css/style.css' %}">
{% endblock style %}


{% block content %}
<section class="section contact-info pb-0">
    <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-live-support"></i>
                    <h5>Call Us</h5>
                     +823-4565-13456
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-support-faq"></i>
                    <h5>Email Us</h5>
                     contact@mail.com
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-location-pin"></i>
                    <h5>Location</h5>
                     North Main Street,Brooklyn Australia
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}


{% block js %}
<!-- Main jQuery -->
<script src="{% static 'clinic_app/plugins/jquery/jquery.js' %}"></script>
<!-- Bootstrap 4.3.2 -->
<script src="{% static 'clinic_app/plugins/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'clinic_app/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'clinic_app/plugins/counterup/jquery.easing.js' %}"></script>
<!-- Slick Slider -->
<script src="{% static 'clinic_app/plugins/slick-carousel/slick/slick.min.js' %}"></script>
<!-- Counterup -->
<script src="{% static 'clinic_app/plugins/counterup/jquery.waypoints.min.js' %}"></script>

<script src="{% static 'clinic_app/plugins/shuffle/shuffle.min.js' %}"></script>
<script src="{% static 'clinic_app/plugins/counterup/jquery.counterup.min.js' %}"></script>
{% endblock js %}


